@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600;700&family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: rgb(228, 145, 37);
}

html {
    font-size: 10px;
}

body {
    background-image: url(oranges.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}



a {
    text-decoration: none;
}

ul {
    list-style: none;
}


#conteiner-navbar {
    background-color: #C11717;
    width: 100vw;
}


nav {
    width: 1500px;
    
}
.nav-list {
    width: 1500px;
    display: flex;
}

.nav-list li {
    
    position: relative
}

.menu-icons {
    display: none;
    align-items: center;
    justify-content: center;
    color: #eee;
    font-size: 2rem;
    position: absolute;
    top: 28px;
    left: 1rem;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
    z-index: 1500;
    /* display: none; */
}

.container-cad{
    display: none;
}


.sub-menu li {
    line-height: 4rem;
}

.nav-list a {
    display: block;
    color: #eee;
    padding: 0 1.5rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    transition: color 650ms;
    -webkit-transition: color 650ms;
    -moz-transition: color 650ms;
    -ms-transition: color 650ms;
    -o-transition: color 650ms;
    position: relative;
    width: 100%;
    align-items: center;
    
}

.nav-list a:hover {
    color: var(--main-color);
}



@media screen  and (max-width: 767px) {

    .container-cad{
        z-index: 2000;
        display: none;
        justify-content: center;
        position: absolute;
        top: 50px;
        bottom: 470px;
        flex-direction: column;
        background-color: #C11717;
        height: 120px;
        width: 290px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    .footer-navlink{
        font-size: 20px;
        margin-left: 10px;
    }

    .footer-navlink a{
        font-size: 15px;
        
        margin-left: 20px;
        color: rgba(0, 0, 0, 0.507);
        
    }

    .container-cad{
        z-index: 2000;
        display: none;
        justify-content: center;
        position: absolute;
        top: 50px;
        bottom: 470px;
        flex-direction: column;
        background-color: #C11717;
        height: 120px;
        width: 290px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .container-cad.show {
        display: flex; /* Exibe quando a classe show é aplicada */
        opacity: 1; /* Opacidade máxima */
    }

    .div-cad{
        position: relative;
        left: 10px;
    }
    
    .box-cad{
        font-size: 30px;
        display: flex;
        margin-bottom: 5px;
        padding-left: 13px;
        cursor: pointer;
    }

    .box-cad span{
        font-size: 14px;
        padding-left: 5px;
    }

    .icon-arrow{
        margin-right: 40px;
    }

    .box-pedidos{
        font-size: 24px;
        display: flex;
        padding-left: 13px;
        cursor: pointer;
    }

    .box-pedidos p{
        font-size: 14px;
        margin-left: 10px;
    }

    nav{
        height: 20px;
    }
    .nav-list {
        position: absolute;
        top: 170px;
        left: 0;
        flex-direction: column;
        background-color: #191919;
        z-index: 1000;
        align-items: initial;
        display: none;
        height: 400px;
        width: 41%;
        
    }

    .general-list{
        overflow-y: hidden;
    }

    #conteiner-navbar{
        overflow-y: scroll;
    }
    

    .nav-list > li {
        line-height: 6rem;
    }

    
    .menu-icons {
        display: block;
    }

    .fa-times {
        display: none;
    }

    nav.active .fa-times {
        display: block;
    }

    nav.active .fa-bars {
        display: none;
    }
    
    nav.active .nav-list {
        display: flex;
    }
}